body{
  margin:0%
   background color:green; 
}
body{
 
   background-color:yellow; 
}


h1{
color:green;  
border:solid 20px;
text-align:center;
font-size:150px
font-family:helvetica,arial
}body{
  margin:0%
   background color:green; 
}


h1{
color:green;  
border:solid 20px;
text-align:center;
font-size:150px
font-family:helvetica,arial,sans
margin:0px
line height: 102px
  

}

p{
  color: green;
  font-size: 20px;
  padding-left:80px;
  padding-right:80px;
  Border:dotted 10px 

   
}

img{
  width: 25%;
  margin-left: 15%;
  
}

.first {
  margin-left:4%;
}

.second {
  margin-left:1%;
}

.intro{
  color: black;
  border: solid;
  border width: 0px 8px;
  padding-left:100px;
  padding-right:100px;
  pading-top:50px;
  padding-bottom:0px;
  text-align: justify;
  margin-top:-42px
  margin-bottom:-20px;
}

spam{
  color:purple;
}

.cat1{
  width: 28;
  display: inline block;
  margin left: 4%;
}

p2{
  font-size:40px
  display:block;
  color:blue;
  background-color:white;
  width: 20%;
  text-decoration: none;
  margin-left:10%;
  border-raduis:5%;
  Border:dotted 5px;
}

p2:hover{
  background: orange;
  color:black;
  border-raduis:50%;
  
}


